<%= partial "fixed_navbar" %>
<div class="row landing-sec">
  <div class="col-xs-12 col-md-6 left-text">
    <div class="left-header">
      <h1 class="main-title">Digital Literacy<br>Le Wagon <i class="highlighted highlighted-red">Milano</i></h1>
      <div class="main-subtitle">
        <p>Sviluppa tech skills essenziali nel job market,
        scopri lo UX/UI Design, Web Development, API, Database e molto altro.</p>
        <a class="cta cta-big cta-secondary margin-top-cta-secondary" href="#">Iscriviti Ora</a></br>
        <a class="cta cta-big cta-primary" href="#">Scopri di più</a>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-6 right-pic pic" style="background-image: url(<%= image_path 'right-front.jpg'%>);">

  </div>
</div>

<section>
  <div class="row second-section">
    <p class="header-courses-section"><i class="highlighted highlighted-red" style="font-size: 50px;">Digital Literacy:</i>                          i nostri corsi</p>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main1" style="background-image: url(<%= image_path 'web-dev.jpg'%>);">
          <p class="card-title-second-section">Web Development</p>
        </div>
        <span class="underline display-none displayed"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main2" style="background-image: url(<%= image_path 'Api.jpg'%>);">
          <p class="card-title-second-section">API</p>
        </div>
        <span class="underline display-none"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main3" style="background-image: url(<%= image_path 'prod-sprint.jpg'%>);">
          <p class="card-title-second-section">Product Sprint</p>
        </div>
        <span class="underline display-none"></span>
      </div>
    </div>
  </div>

</section>


<section>
  <div class="Web row third-section course1 display-none displayed">
    <p class="header-courses-section"><i class="highlighted highlighted-red" style="font-size: 50px; color: black;">Web Development</i></p>
    <div class="pic image-sec" style="background-image: url(<%= image_path 'web-dev-desc-jpg.png'%>);">

    </div>
  </div>

  <div class="API row third-section display-none">
    <p class="header-courses-section"><i class="highlighted highlighted-red" style="font-size: 50px; color: black;">API</i></p>
    <div class="pic image-sec" style="background-image: url(<%= image_path 'web-dev-desc-jpg.png'%>);">

    </div>
  </div>

  <div class="Product row third-section display-none">
    <p class="header-courses-section"><i class="highlighted highlighted-red" style="font-size: 50px; color: black;">Product Sprint</i></p>
    <div class="pic image-sec" style="background-image: url(<%= image_path 'web-dev-desc-jpg.png'%>);">

    </div>
  </div>
</section>


<section>
  <div class="row fourth-section">
    <div  class="col-xs-12 col-md-6 right-section-pic-container">
      <div class="pic right-section-pic" style="background-image: url(<%= image_path 'woman-cover.jpg'%>);">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 right-text">
      <p class="header-courses-section" style="font-size: 50px">Impara con i <i class="highlighted highlighted-red" style="font-size: 50px; color: black;">migliori</i></p>
      <p class="fourth-section-paragraph">Sviluppa tech skills essenziali nel job market,
      scopri lo UX/UI Design, Web Development, API, Database e molto altro. Sviluppa tech skills essenziali nel job market, scopri lo UX/UI Design, Web Development, API, Database e molto altro.Sviluppa tech skills essenziali nel job market, scopri lo UX/UI Design, Web Development, API, Database e molto altro.</p>
    </div>
  </div>
</section>


<section>
  <div class="row sixth-section">
    <div class="col-xs-12 col-sm-6 right-text">
      <p class="header-courses-section" style="font-size: 50px">Crea <i class="highlighted highlighted-red" style="font-size: 50px; color: black;">Digital Products</i></p>
      <p class="fourth-section-paragraph">Sviluppa tech skills essenziali nel job market,
      scopri lo UX/UI Design, Web Development, API, Database e molto altro. Sviluppa tech skills essenziali nel job market, scopri lo UX/UI Design, Web Development, API, Database e molto altro.Sviluppa tech skills essenziali nel job market, scopri lo UX/UI Design, Web Development, API, Database e molto altro.</p>
    </div>
    <div  class="col-xs-12 col-md-6 right-section-pic-container">
      <div class="pic right-section-pic" style="background-image: url(<%= image_path 'woman-cover.jpg'%>);">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="parallax">
    <div class="row fifth-section">
      <div class="col-xs-12 col-md-6 prices-cards">
        <div class="price-card">
          <div class="content">
            <div class="content-row content-row-title">
              <div style="position: relative;
              top: 50%;
              transform: translateY(-50%); ">
              <h3><i class="highlighted highlighted-red">1 Day</i> Program</h3>
              <p>April 2019</p>
              <p>8h full time</p>
            </div>
          </div>
          <div class="content-row content-row-early">
            <div style="position: relative;
            top: 50%;
            transform: translateY(-50%); ">
            <h3>EARLY BIRD</h3>
            <p style="font-weight: 200;">fino al 01/01/2018</p>
            <h2><i class="highlighted highlighted-red">100€</i></h2>
          </div>
          </div>
          <div class="content-row content-row-price">
            <div style="position: relative;
            top: 50%;
            transform: translateY(-50%); ">
            <h3>FULL PRICE</h3>
            <h2><i class="highlighted highlighted-red">150€</i></h2>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 prices-cards">
        <div class="price-card">
          <div class="content">
            <div class="content-row content-row-title">
              <div style="position: relative;
              top: 50%;
              transform: translateY(-50%); ">
              <h3>1 Day program</h3>
              <p>April 2019</p>
              <p>8h full time</p>
            </div>
          </div>
          <div class="content-row content-row-early">
            <div style="position: relative;
            top: 50%;
            transform: translateY(-50%); ">
            <h3>EARLY BIRD</h3>
            <p>fino al 01/01/2018</p>
            <h2>100€</h2>
          </div>
          </div>
          <div class="content-row content-row-price">
            <div style="position: relative;
            top: 50%;
            transform: translateY(-50%); ">
            <h3>FULL PRICE</h3>
            <h2>150€</h2>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section>
  <div style="height: 15vh;">
  <p class="header-timeline-section"><i class="highlighted highlighted-red" style="font-size: 50px;">Digital Literacy:</i> i nostri corsi</p>
  </div>
  <div class="carousel"
  data-\='{ "freeScroll": true }'>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'woman-cover.jpg'%>);">
      </div>
      <div class="timeline-card-right">
        iao
      </div>
    </div>
  </div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div>

</section>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

<style>
.parallax {
  /* The image used */
  background-image: url(<%= image_path 'parallax-pic.jpg'%>);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>








