<%= partial "fixed_navbar" %>
<div class="row landing-sec">
  <div class="col-xs-12 col-md-6 left-text">
    <div class="left-header">
      <h1 class="main-title">Digital Literacy<br>Le Wagon <i class="highlighted highlighted-red">Milano</i></h1>
      <div class="main-subtitle">
        <p>Sviluppa tech skills essenziali nel job market,
        scopri lo UX/UI Design, Web Development, API, Database e molto altro.</p>
        <a class="cta cta-big cta-secondary margin-top-cta-secondary" href="#">Iscriviti Ora</a></br>
        <a class="cta cta-big cta-primary" href="#">Scopri di più</a>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-6 right-pic pic" style="background-image: url(<%= image_path 'right-front.jpg'%>);">

  </div>
</div>

<section>
  <div class="row second-section">
    <p class="header-courses-section"><i class="highlighted highlighted-red" style="font-size: 40px;">Digital Literacy:</i>                          i nostri corsi</p>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic " style="background-image: url(<%= image_path 'web-dev.jpg'%>);">
          <p class="card-title-second-section">Web Development</p>
        </div>
        <span class="underline"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic " style="background-image: url(<%= image_path 'Api.jpg'%>);">
        </div>
        <p class="card-title-second-section">API</p>
        <!-- <span class="underline"></span> -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic " style="background-image: url(<%= image_path 'prod-sprint.jpg'%>);">
          <p class="card-title-second-section">Product Sprint</p>
        </div>
        <!-- <span class="underline"></span> -->
      </div>
    </div>
  </div>

</section>


<section>
  <div class="row third-section">
    <p class="header-courses-section"><i class="highlighted highlighted-red" style="font-size: 40px; color: black;">Web Development</i></p>
    <div class="pic image-sec" style="background-image: url(<%= image_path 'web-dev-desc-jpg.png'%>);">

    </div>
  </div>
</section>




